<ul>
  <li><a id="about" href="index.html">About <strong>circumstance</strong></a></li>
  <li><a id="manual" href="manual/">Manual</a></li>
  <li><a id="discussions" href="https://github.com/kingaa/circumstance/discussions">Discussions</a></li>
  <li><a id="issues" href="https://github.com/kingaa/circumstance/issues">Issues</a></li>
  <li><a id="source" href="https://github.com/kingaa/circumstance/">Source Code</a></li>
  <li><a id="pomp" href="https://kingaa.github.io/pomp/"><strong>pomp</strong> homepage</a></li>
</ul>
